html{
  font-size: 62.5%;
}
#logo{
  display: inline-block;
  padding-left: 10rem;
  padding-right: 5rem;
}
.Menu-commands{
  display: inline-block;
  font-size: 2rem;
  margin: 1rem;
}

}
#logo .Menu-commands {
  display: inline-block;
  padding: 3rem;
}
.Menu-commands:nth-child(6){
  font-size: 2rem;
  color: white;
  background-color: orange;
}
.Menu-commands:nth-child(7){
  font-size: 2rem;
  color: white;
  background-color: blue;
}
#Content {
  background-color: lightgray;
width: 100%;
heigh: 20%;
  border: 1rem;
  margin: 0;
  box-sizing: border-box;
}
#Explore .Try-Tour {
  display: inline-block;
  margin: .5rem;
  text-align: center;
  margin-left: 25rem;
}
.Try-Tour:first-child{
  font-size: 3rem;
  color: white;
  background-color: orange;

}
.Try-Tour:nth-child(2){
  font-size: 3rem;
  color: white;
  background-color: blue;
  text-align: center;}
#Content{
  text-align: center;
}
#Computer {
  display: block;
      margin-left: 40rem;
      margin-right: 20rem;
      width: 10%;
      height: 10%;
  }
  #Works{
    text-align: center;
  }
#Attributes div {
  margin-left: 10rem;
  display: inline-block;
  text-align: center;
  border: solid;
}

#Attributes div img{
  width: 8rem;
  height: 8rem;
}
#bottom div{
  display: inline-block;
  style: none;
  margin-left: 20rem;
  margin-top: 15rem;
}
